.card-container{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 150px;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-image {
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 6px;
  margin-bottom: 8px;
}
img{
    height: 100%;
    width: 100%;
}
.card-content {
  flex-grow: 1;
}

.card-action {
  margin-top: 12px;
  text-align: center;
}

.card-action button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.card-action button:hover {
  background-color: #1565c0;
}


.message-box {
  background-color: #f0fff2;   
  border: 1px solid #00ff3c;   
  color: #00ff22;              
  padding: 12px 16px;    
  border-radius: 6px;     
  margin: 10px 0;        
  font-size: 14px;             
  font-weight: 500;      
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
  animation: fadeIn 0.3s ease-in-out;   
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
